.sponsors-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sponsors-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.sponsors-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 8%;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.sponsors-gallery {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width: 1200px) {
  .sponsors-container2 {
    margin-top: 12%;
  }
  .sponsors-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 991px) {
  .sponsors-gallery {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 767px) {
  .sponsors-container2 {
    margin-top: 18%;
    margin-bottom: 12%;
  }
  .sponsors-gallery {
    grid-gap: 10%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .sponsors-container2 {
    margin-top: 30%;
  }
  .sponsors-gallery {
    height: auto;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
}
