.zoom-classes-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.zoom-classes-text {
  margin-top: 7%;
}
.zoom-classes-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 2%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.zoom-classes-container1 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.zoom-classes-container2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.zoom-classes-link {
  width: 40%;
  height: 10%;
  margin-top: 8%;
  text-align: center;
  transition: 0.3s;
  padding-top: 2%;
  margin-bottom: 8%;
  padding-bottom: 2%;
  text-decoration: none;
}
.zoom-classes-link:hover {
  background-color: #c9c9c9;
}
@media(max-width: 767px) {
  .zoom-classes-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .zoom-classes-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
