.sponsors-card-feature-card {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.sponsors-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.sponsors-card-text {
  font-size: 3rem;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.sponsors-card-text1 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.sponsors-card-text2 {
  font-size: 1.4rem;
  margin-top: 0px;
  font-weight: 500;
}



